@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem auto;
    font-size: 16px;
    justify-items: center;
}

header, main, footer{
    max-width: 700px;
    margin: 0 auto;
}

header{
    margin: 2rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    padding-left: 2rem;
    background-color:aliceblue;
    box-shadow: 4px 4px 6px grey;
    display: grid;
    border-radius: 15px 15px 15px 15px;
    grid-template-columns: 20px 1fr;
    align-items: center;
}

h1 {
    color: #696969;
    padding-left: 15rem;
    font-family: 'Dosis', sans-serif;
    font-size: 45px;
    font-weight: 300;
}

img {
    box-shadow: 3px 3px 4px grey;
}


h2 {
    margin: 1.5rem;
    color: #696969;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

li {
    margin-left: 3.5rem;
    margin-top: 1.5rem;
}

hr {
    max-width: 650px;
    margin: 2rem auto;
}

main p {
    font-style: italic;
}

footer {
margin: 2rem auto;
border: 1px solid #bbb;
background-color: aliceblue;
display: grid;
padding: 2rem;
box-shadow: 4px 4px 6px grey;
border-radius: 15px 15px 15px 15px;
align-items: center;
}

p {
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    padding-left: 15rem;
}