@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    display: flex;
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
    justify-content: center;
}

thead tr th{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: aliceblue;
}

tbody tr:nth-child(4) td:nth-child(3){
    background-color: #7B8085;
}

thead tr:nth-child(2) th{
    background-color: #bbb;
    font-size: 1rem;
    font-weight: bold;
}

tbody tr td{
    background-color: white;
}

tbody tr:nth-child(even) td{
    background-color: #bbb;
}


tbody tr:nth-child(5) td:nth-child(1){
    font-style: italic;
}

tr, td, th{
    padding: 1rem;
    border: 0.5px solid #696969;
    text-align: center;
}

tfoot{
    background-color: aliceblue;
    font-weight: bold;
}

@media (max-width: 25em){
    tbody{
        font-size: 0.8rem;
    }
}